/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --darkblack: #000000;

  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
  --light: 1170px;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: black;
}
/* navbar */
/* .navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: #333;
  color: white;
  
  
} */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  /* width: 100%; */
  background-color: rgb(11, 22, 124);
  color: white;
  top: 0;
  z-index: 1;
  position: sticky;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 65%;
  align-items: center;
}

/* .nav-links li {
  padding: 0 1rem;
} */

/* color logo */
.logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  transition: var(--mainTransition);
  cursor: pointer;
}

/* alignemement a nav */
.home,
.register,
.login,
.ajouter,
.Logout {
  /* padding: 10 20px; */
  text-decoration: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

/* .home:hover,
.register:hover,
.login:hover {
  color: #333;
  background-color: white;
} */

/* cacher menu burger */

.mobile-menu-icon {
  display: none;
}

/* ! media querie pour ma table  */

@media screen and (max-width: 725px) {
  table {
    width: 100%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

/*! media querie navbar hamburger */

@media screen and (min-width: 781px) {
  .nav-links-mobile {
    display: none;
  }

  /* ne casse pas ma navbar ul li quand on repasse en mode pc  */
  .nav-links-mobile {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 65%;
    align-items: center;
  }
}

@media screen and (max-width: 780px) {
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .user {
    display: none;
  }
  .nav-links-mobile h1 {
    display: none;
  }

  h1 .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #333;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
    height: 90vh;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav-links-mobile li {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    /* ligne sous le block pour séparer */
  }
  .nav-links-mobile {
    position: absolute;
    top: 75px;
    display: block;
    background-color: rgb(11, 22, 124);
    width: 100%;
    min-height: 90vh;
  }

  .home,
  .register,
  .login,
  .Logout {
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;

    font-size: 30px;
    color: white;
    background-color: #222;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }

  .mobile-menu-icon:hover {
    cursor: pointer;
  }

  .nav-links-mobile li:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 990px) {
  table {
    border: 1px solid red;
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

/* @media screen and (max-width: 768px) {
  .container-register{
    width: 100vw;
  }
} */

.bar {
  border: solid 1px white;
}

/* Page register */

.form-control {
  display: block;
  font-size: 0.7em;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

label {
  font-size: 17px;
}
h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  text-decoration: underline;
}
.form {
  background-color: hwb(234 18% 22%);
  width: 90vw;
  max-width: 600px;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="password"] {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--radius);
}

.alert-danger {
  color: #222;
  background: var(--clr-red-light);
}

.alert-success {
  color: #222;
  background: var(--clr-green-light);
}

/* span{
  color: red;
  
} */

/* .logout{
  margin-left: 10px;
  right: 20px;
  position: absolute;
  /*  */
/* top: 10px;  */
/* } */

.user {
  color: red;
  margin-left: 10px;
  right: 20px;
}

/* container des task */

.item {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.form-group {
  margin: 1rem;
}

.crud-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 80vw;
  min-width: 30vw;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  /* transition: var(--transition);


  .crud-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
  /* margin: 10px; */
  border-radius: 10px;
  /* position: relative; */
  cursor: pointer;
}

/* ajouter une tâche a droite de l'input rechercher*/

.addTask {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /* position: relative; */
  cursor: pointer;
}

/* button deleteAll */

.deleteAll {
  background-color: var(--clr-red-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /* position: relative; */
  cursor: pointer;
}

.buttonEdit {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.buttonDelete {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.buttonDelete {
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--clr-red-dark);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.buttonEdit {
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--clr-green-dark);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.buttonEdit:hover {
  background: var(--clr-green-light);
  color: var(--clr-white);
}

.buttonDelete:hover {
  background: var(--clr-red-light);
  color: var(--clr-white);
}

/* boutton ajouter une taches */

/* 
====== 
Buttons 
======
*/

.btn {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: black;
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}

.navbar .login {
  margin-left: 0;
  right: 20px;
  /* position: absolute; */
  /*  */
  top: 26px;
  list-style: none;
  padding: 0;
  font-size: 20px;
}

/* boutton Logout s'éccrase en baissant la dimension de ma fenêtre */

.dark-mode {
  background-color: black;
  color: rgb(112, 107, 107);
}

/* en mode dark-mode mon background de tache devient rouge */
.dark-mode .HeaderTask {
  background-color: var(--clr-red-light);
  color: white;
}

/* .dark-mode__toggle{
  position: absolute;
  top: 80px;
  right: 30px;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
} */

.dark-mode__toggle {
  display: flex;
  top: 80px;
  right: 30px;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  align-items: center;
  justify-content: center;
}

/* div tâche */
.HeaderTask {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  color: white;
}

/*! les tâches enregistré , table , th , items */
.table {
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  max-width: 80vw;
  min-width: 30vw;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  position: relative;
}

.items {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #f4f4f4;
  color: black;
}

td,
th {
  max-width: 80vh;
  min-width: 30vh;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap;   */

  padding: 10px;
  border-bottom: 1px solid #333;
  text-align: center;
  padding: 5 20px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* .items:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
} */

ul {
  list-style: none;
  padding: 0;
  font-size: 20px;
}

/* .Logout{
  text-decoration: none;
  color:white;
  font-size: 20px;
  list-style: none;
  padding: 10 20px;
  top : 20px;
  margin: 0 0 16px;
} */

.home_page {
  height: 100%;
}
.image2 {
  width: 100%;
  height: 100%;
  /* pour que l'image prenne toute la place */
  object-fit: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
}

/* .home_page__title{
  justify-content: center;
  align-items: center;
  display: flex; 
  text-align: center;
  font-size: 50px;
  color: white;
  transform: 
  translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
} */

.home_page {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative; */
  background-attachment: center;
}

.home_page_title {
  font-size: 50px;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
